
@{
    ViewBag.Title = "IndexJie";
}

<br />
<hr />
@using (Html.BeginForm("Indexpost", "JiasAndJies", FormMethod.Post))
{
    <div align="center">
        <table class="table-responsive">
            <tr>
            <tr>
                <td>原始密码为: <u style="color:red">@Session["jiemi"]</u> </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><a href="@Url.Action("Index","JiasAndJies")"><h4 style="color:black">继续加密</h4></a></td>
            </tr>
            </tr>
        </table>
    </div>
}

