
@{
    ViewBag.Title = "IndexJie";
}

<br />
<hr />
@using (Html.BeginForm("Indexpost", "JiasAndJies", FormMethod.Post))
{
<div align="center">
    <table class="table-responsive">
        <tr>
            <td>
                <input type="text" name="JiaMi" placeholder="Please input your data" autocomplete="off" />
            </td>
            <td>
                <input type="submit" value="Encode" name="JiaMiShuJu" />
            </td>
        </tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
    </table>
    @Session["jiami"]
    <br />
    Original Data: <u style="color:red">@Session["jiemi"].ToString()</u>
</div>
}

