
@{
    ViewBag.Title = "Indexget";
}

<br />
<hr />
@using (Html.BeginForm("Indexpost", "JiasAndJies", FormMethod.Post))
{
<div align="center">
    <table class="table-responsive">
        <tr>
            <td>
                <input type="text" name="JiaMi" placeholder="Please input your data" autocomplete="off" />
            </td>
            <td>
                <input type="submit" value="Encode" name="JiaMiShuJu" />
            </td>
        </tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
    </table>
    @if (Session["jiami"].ToString().Equals("Sorry. Unable to encode data."))
    {
       @Session["jiami"]
    }
    else
    {
        @Session["jiami"]
           <a href="@Url.Action("IndexJie","JiasAndJies")"><h4 style="color:red">Decode</h4></a>
        
    }
</div>
}

