
@{
    ViewBag.Title = "Index";
}
<br />
<hr />
@using (Html.BeginForm("Indexpost", "JiasAndJies", FormMethod.Post))
{
    <div align="center">
        <table class="table-responsive">
            <tr>
                <td>
                    <input type="text" name="JiaMi" placeholder="Please input your data" autocomplete="off" />
                </td>
                <td>
                    <input type="submit" value="Encode" name="JiaMiShuJu" />
                </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>No data</td></tr>
        </table>
    </div>
}

